# pin to v4.0.0 since newer pushes are broken
# TODO(jtgans): Remove this pinning once upstream is unborked.
fixtures==4.0.0

# TODO(hcindyl): Use camkes-deps 0.7.4 directly instead of explicitly installing
# the depedency packages.
aenum
jinja2>=3.0.0
ordered-set
plyplus
pyelftools
sel4-deps
pycparser
pyfdt
concurrencytest
# capDL deps
sortedcontainers
hypothesis

# camkes-deps

hjson
jsonschema
lit
mako
matplotlib
netifaces
pandas
psutil
pyfzf
pyyaml
requests
robotframework==6.0.2
scipy
sel4-deps
setuptools
tempita
# TODO(lundong): Update to tensorflow 2.13.0 when it is released
tf-nightly==2.13.0.dev20230501
wget
yapf
