# pin to v4.0.0 since newer pushes are broken
# TODO(jtgans): Remove this pinning once upstream is unborked.
fixtures==4.0.0

camkes-deps
hjson
lit
mako
matplotlib
netifaces
pandas
psutil
pyfzf
pyyaml
requests
robotframework==4.0.1
scipy
sel4-deps
setuptools
tempita
wget

# meson 0.54 is no longer buildable in python 3.10
https://storage.googleapis.com/sparrow-public-artifacts/meson-0.54.0-py3-none-any.whl
